[submodule "alexeygrigorev_zoomcamp/mlbookcamp-code"]
	path = alexeygrigorev_zoomcamp/mlbookcamp-code
	url = https://github.com/alexeygrigorev/mlbookcamp-code
[submodule "richardmcelreath_statisticalrethinking2022/bookdown_templates"]
	path = richardmcelreath_statisticalrethinking2022/bookdown_templates
	url = https://github.com/ksomf/bookdown_templates
[submodule "richardmcelreath_statisticalrethinking2022/stat_rethinking_2022"]
	path = richardmcelreath_statisticalrethinking2022/stat_rethinking_2022
	url = https://github.com/rmcelreath/stat_rethinking_2022
